@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #000000, #3533cd);
    font-size: 16px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    z-index: 2; /* Content z-index */
    --on: #055daf;
    --off: #f0f0f0;
    --transDur: 1s;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%2300F9FF" stroke="%2300F9FF" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>')16 16, auto; /* 16 16 centers the cursor */
}
body.dark-mode {
    background: linear-gradient(to right, #000000, #495057);
  }
  input {
    position:absolute;
    transform: translateX(-100%);
    opacity: 0; /* Completely hide the checkbox */
    pointer-events: none; /* Disable interaction with the hidden checkbox */
  }
  .toy-toggle {
    background: radial-gradient(at top left, #fff 10%, #fff0 20%),
      radial-gradient(at top right, #fff 20%, #e4e4e4 35%);
    border-radius: 6em;
    box-shadow: 0 0 0.25em #0002, 0 3em 1.5em 0.5em #0002;
    cursor: pointer;
    display: block;
    font-size: 8px;
    position: absolute;
    margin: auto;
    top: 120px; /* Distance from the top of the viewport */
    left: 50px; /* Distance from the left of the viewport */
    width: 6em; /* Smaller width */
    height: 3.5em; /* Smaller height */
    -webkit-tap-highlight-color: transparent;
  }

  .toy-toggle span {
    display: block;
    position: absolute;
  }

  .toy-toggle > span {
    top: 50%;
    left: 50%;
  }

  .toy-toggle > span:not(.handle) {
    transform: translate(-50%, -50%);
  }

  .border1 {
    background: #f0f0f0;
    border-radius: 5.5em;
    box-shadow: 0 0 0.2em 0.1em #f0f0f0;
    width: 9.5em; /* Reduced from 19em */
    height: 5.5em; /* Reduced from 11em */
  }

  .border2 {
    background: linear-gradient(0deg, #fff 33%, #ccc 45%);
    border-radius: 4.75em;
    box-shadow: 0 0 0.2em 0.3em #f0f0f0 inset;
    width: 8.25em; /* Reduced from 16.5em */
    height: 4.75em; /* Reduced from 9.5em */
  }

  .border3, .handle {
    background: linear-gradient(90deg, var(--on) 50%, var(--off) 0);
  }

  .border3 {
    background-position: 75% 0;
    background-size: 200% 100%;
    border-radius: 4.25em;
    box-shadow: 0 0 0.1em 0.1em #ddd inset, 0 1.5em 1.5em 1em #0004 inset, 0 0 0 4.25em #0002 inset;
    width: 7.75em; /* Reduced from 15.5em */
    height: 4.25em; /* Reduced from 8.5em */
    transition: background-position var(--transDur) ease-in-out;
  }

  .handle {
    border-radius: 50%;
    box-shadow: 0 0 0.5em 0 #0007;
    width: 4.25em; /* Reduced from 8.5em */
    height: 4.25em; /* Reduced from 8.5em */
    transform: translate(-90%, -50%);
    transition: transform var(--transDur) ease-in-out;
    z-index: 0;
  }

  .handle:before {
    background: radial-gradient(2em 1.5em at 50% 35%, #fff6 15%, #fff0),
      radial-gradient(1.5em 2.5em at 75% 40%, #fff6 15%, #fff0),
      radial-gradient(100% 100% at 50% 33%, #0000 25%, #0003 50%);
    border-radius: 50%;
    box-shadow: 0 0 0.3em 0.1em #0003 inset;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .handle-off, .handle-on {
    width: 50%;
    height: 100%;
    transition: transform calc(var(--transDur)/2);
    z-index: 2;
  }

  .handle-off {
    background: var(--off);
    border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
    right: 50%;
    transform-origin: 100% 50%;
    transition-delay: calc(var(--transDur)/2);
    transition-timing-function: ease-out;
  }

  .handle-on {
    background: var(--on);
    border-radius: 0 100% 100% 0 / 50% 50% 50% 50%;
    left: 50%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-timing-function: ease-in;
  }

  /* On */
  input:checked + .toy-toggle .border3 {
    background-position: 25% 0;
  }
  input:checked + .toy-toggle .handle {
    transform: translate(-10%, -50%);
  }
  input:checked + .toy-toggle .handle-off {
    transform: scaleX(0);
    transition-delay: 0s;
    transition-timing-function: ease-in;
  }
  input:checked + .toy-toggle .handle-on {
    transform: scaleX(1);
    transition-delay: calc(var(--transDur)/2);
    transition-timing-function: ease-out;
  }
a:hover {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%2300F9FF" stroke="%23FFFFFF" stroke-width="2" d="M16.95 3h-9.9a2.06 2.06 0 0 0-1.34 3.62L11.99 12l6.28-5.38A2.06 2.06 0 0 0 16.93 3ZM7.05 21h9.89c1.9 0 2.78-2.38 1.34-3.62L12 12l-6.28 5.38A2.06 2.06 0 0 0 7.06 21Z"></path></svg>')16 16, pointer; /* 16 16 centers the cursor */
}
/* Particle background styling */
#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade-in 5s ease-out forwards;
    animation-delay: 2s;
    z-index: 0; /* Behind the content but above the background */
}

/* Header and Navigation */
header {
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 1;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* Space between the items */
    position: relative;
    /* For positioning pseudo-elements */
}

.navbar li {
    display: inline-block;
    position: relative;
    font-family: "Playwrite GB S", cursive;
    font-size: 2rem;
    font-weight: 400;}

.navbar li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
}

.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Underline effect */
.navbar li a::before {
    content: '';
    position: absolute;
    left: 50%;
    /* Start in the middle */
    bottom: 0;
    /* Position it at the bottom */
    width: 0;
    /* Start with no width */
    height: 2px;
    /* Height of the underline */
    background: #ffffff;
    /* Color of the underline */
    transition: width 0.5s ease, left 0.5s ease;
    /* Animate width and left position */
}

.navbar li a:hover::before {
    width: 100%;
    /* Expand to full width on hover */
    left: 0;
    /* Align to the left */
}


.nav-mobile .menu-btn, .nav-mobile .close-btn {
    position: relative;
    top: 20px;
    right: 20px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.nav-mobile .close-btn {
    display: none; /* Initially hidden */
}

.nav-mobile .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1;
}

.nav-mobile .nav-overlay.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.nav-mobile .nav-links {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-mobile .nav-links li {
    margin: 20px 0;
}

.nav-mobile .nav-links a {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

.nav-mobile .nav-overlay.visible .nav-links a {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-mobile .nav-links a:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .nav-mobile {
        display: none; /* Hide mobile nav on desktop */
    }

    .nav-desktop {
        display: block; /* Show desktop nav */
    }
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    .nav-desktop {
        display: none; /* Hide desktop nav on mobile */
    }

    .nav-mobile {
        display: block; /* Show mobile nav */
    }
    .toy-toggle {
        top: 35px;
        left: 220px;
    }
}


/* Container */
.container {
    position: static;
    padding-top: 80px;
    /* Give space for the fixed header */
}

/* GIF logo */
.logo {
    width: clamp(120px, 20vw, 200px);
    height: clamp(80px, 8vh, 100px);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Main content */
.main-content {
    max-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
}

.research-paper {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.research-paper:nth-child(1) {
    animation: slideInFromLeft 1s ease-out forwards;
    
}

.research-paper:nth-child(2) {
    animation: slideInFromRight 1s ease-out forwards;
}
body.dark-mode .research-paper {
    background: linear-gradient(45deg, #242424, #27212c, #404140);
  }

.research-paper img {
    width: 300px;
    /* Fixed width for the image */
    height: 300px;
    /* Maintain aspect ratio */
    border-radius: 30px;
    /* Optional: round the image corners */
    object-fit: cover;
    /* Ensure the image covers the area */
    justify-content: center;
    transition: transform 0.5s ease, box-shadow 0.75s ease;
    /* Smooth transition for both transform and box-shadow */
    animation: popIn 1s ease-in-out forwards;
    animation-delay: 2.5s;
    opacity: 0;
    /* Start invisible */
}

.research-paper img:hover {
    transform: translateY(-10px) scale(5.1);
    /* Moves the image up by 5px */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    /* Adds a shadow effect for depth */
}
body.dark-mode .research-paper img:hover {
    box-shadow: 0 8px 15px rgb(110, 110, 110);
  }

.text-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 10px;
    /* Space between each h1 tag */
    flex: 1;
    /* Allow the text content to grow and fill the available space */
}

.text-content h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(to right, #000, #000) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: blurUnblur 3s ease forwards;
}
body.dark-mode .text-content h1 {
    font-weight: bold;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(to right, #e4e4e4, #e4e4e4) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: blurUnblur 3s ease forwards;
}

.text-content h1:nth-child(1) {
    animation-delay: 1s;
}

.text-content h1:nth-child(2) {
    animation-delay: 1.5s;
}

.text-content h1:nth-child(3) {
    animation-delay: 2s;
}

.text-content p {
    font-size: 18px;
    margin-top: 20px;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(to right, #000, #000) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: blurUnblur 4s ease forwards;
    animation-delay: 2s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
body.dark-mode .text-content p {
    font-size: 18px;
    margin-top: 20px;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(to right, #e4e4e4, #e4e4e4) no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: blurUnblur 4s ease forwards;
    animation-delay: 2s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.visit-paper {
    margin-top: 50px;
}

.paper-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    display: inline-block; /* Make it behave like a button */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    animation: popIn 2s ease-in-out forwards;
    animation-delay: 4s;
    opacity: 0; /* Start invisible */
    bottom: 20px;
    right: 20px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 1.2rem;
    transition: transform 1s, background-color 1s ease, color 1s ease, box-shadow 1s ease;

}

.paper-link:hover {
    background-color: #000000;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 1);
}
body.dark-mode .paper-link:hover {
    background-color: #2913ac;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 8px 8px 15px rgb(110, 110, 110);
  }

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

@media (max-width: 768px) {
    /* Header and Navigation */
    header {
        padding: 10px; /* Reduce padding for smaller screens */
    }
    .container {
        padding-top: 10px; /* Give space for the fixed header */
    }
    /* Adjust navbar for smaller screens */
    .navbar {
        flex-direction: row; /* Arrange links in a row */
        justify-content: center; /* Center the navbar */
        width: 100%; /* Full width to avoid overlap */
        padding: 10px 0; /* Add some padding */
        margin-top: 10%; /* Space between logo and navbar */
    }

    .navbar li {
        margin: 0 15px; /* Space between the items */
    }

    .navbar li a {
        padding: 8px 15px; /* Ensure clickable area remains comfortable */
        font-size: 16px; /* Adjust font size slightly */
    }

    /* Adjust logo for smaller screens */
    .logo {
        top: 10px; /* Keep logo positioning */
        width: clamp(120px, 40vw, 180px); /* Scale logo for medium screens */
        height: clamp(70px, 10vw, 90px);
        margin-bottom: 20px; /* Add some margin to separate from navbar */
    }
    .research-paper {
        flex-direction: column;
        align-items: center;
    }
}